*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  padding: 0;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
}
#screen {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  background: #f0f0f0;
  font-family: 'Courier New', Courier, monospace;

  user-select: none;
}

#bottomBar{
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: rgb(84, 56, 56);
  padding: 5px;
}

.draggable {
  position: absolute;
  background-color: lightblue;
  cursor: grab;
}

.value {
  width: 100px;
  height: 100px;
}

.gate {
  width: 100px;
  height: 200px;
}

.inout {
  width: 100px;
  height: 20%;
  border-bottom: 1px solid black;
  text-align: center;
}

.inout:hover {
  border: 1px solid yellow;
}

dialog{
  z-index: 100;
  height: 50vh;
  width: 50%;
  overflow: scroll;
  margin: auto;
  margin-top: 20vh;
  padding: 20px;
  display: none;
}

.touchSensor,
.pushSensor{
  width: 100px;
  height: 40px;
  background-color: yellow;
  cursor: pointer;
}

dialog button{
  border: 1px solid black;
  cursor: pointer;
  background: none;
  margin-left: 5px;
  font-family: 'Courier New', Courier, monospace;
  padding: 5px;
}

dialog button:hover{
  background-color: yellow;
}

#alertBox{
  text-align: center;
}

/* tr:hover{
  background-color: rgb(245, 241, 241);
} */

/* New grid system: */
#gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  gap: 10px;
  margin: 10px;
}

.gridItem{
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px){
  #gridContainer{
    display: block;
  }
  .gridItem{
    margin: 10px;
  }
}

#trash{
  background-color: red;
  color: white;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 7vh;
  right: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: not-allowed;
}

#mobileConnectorBtn{
  background-color: red;
  color: white;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 7vh;
  left: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  display: none;
}

textarea{
  outline: none;
  padding: 5px;
  font-size: small;
}

/* the menu bar */
#topBar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  height: 5%;
}
.topBar button {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.topBar button:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  border: 1px solid black;
}

.dropdown-content button {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 100%;
  border-radius: 0;
  border: none;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.binaryInputContainer > div{
  width: 20px;
  height: 20px;
  border: 1px solid black;
  text-align: center;
}

.binaryInputContainer > div{
  width: 20px;
  height: 20px;
  border: 1px solid black;
  text-align: center;
}
