* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  background-color: #f0f0f0;
  padding: 10px;
}
#screen {
  margin: 0;
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
  font-family: 'Courier New', Courier, monospace;

  user-select: none;
}

#bottomBar {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: rgb(84, 56, 56);
  padding: 5px 10px 5px 10px;
  border-radius: 5vh;
  align-items: center;
}

.draggable {
  position: absolute;
  background-color: lightblue;
  cursor: grab;
}

.value {
  width: 100px;
  height: 100px;
}

.gate {
  width: 100px;
  height: 200px;
}

.inout {
  width: 100px;
  height: 20%;
  border-bottom: 1px solid black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inout:hover {
  border: 1px solid yellow;
}

dialog {
  z-index: 100;
  height: 75vh;
  width: 95%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: auto;
  margin-top: 10vh;
  padding: 20px;
  display: none;
  border-radius: 20px;
}

.touchSensor,
.pushSensor {
  width: 100px;
  height: 40px;
  background-color: yellow;
  cursor: pointer;
}

dialog button {
  border: 1px solid black;
  cursor: pointer;
  background: none;
  margin-left: 5px;
  font-family: 'Courier New', Courier, monospace;
  padding: 5px;
  border-radius: 10px;
  line-break: anywhere;
}

dialog button:hover {
  text-decoration: underline;
}

#alertBox {
  text-align: center;
  justify-content: center;
  z-index: 100;
}

/* tr:hover{
  background-color: rgb(245, 241, 241);
} */

/* New grid system: */
#gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  gap: 10px;
  margin: 10px;
}

.gridItem {
  background-color: rgb(248, 242, 242);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.gridItemButton {
  width: 60%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  #gridContainer {
    display: block;
  }
  .gridItem {
    margin: 10px;
  }
}

#trash {
  background-color: red;
  color: white;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 7vh;
  right: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: not-allowed;
}

#mobileConnectorBtn {
  background-color: red;
  color: white;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 7vh;
  right: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  display: none;
}

textarea {
  outline: none;
  padding: 5px;
  font-size: small;
}

/* the menu bar */
#topBar {
  display: flex;
  overflow: hidden;
  background-color: rgb(84, 56, 56);
  font-family: 'Courier new';
  height: 5vh;
  border-radius: 5vh;
  align-items: center;
}
.topBar button {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  height: 5vh;
}

.topBar button:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(109, 76, 76);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(109, 76, 76);
  min-width: 160px;
  z-index: 1;
  top: add(5vh, 10px);
  border-radius: 10px;
}

.dropdown-content button {
  border: none;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(109, 76, 76);
  color: white;
}

.dropdown-content button:hover {
  background-color: rgb(84, 56, 56);
}

.dropdown:hover .dropdown-content,
.dropdown:active .dropdown-content,
.dropdown-content:hover {
  display: block;
}

/* too small screen */
@media screen and (max-height: 600px) {
  #topBar button,
  .dropdown .dropbtn {
    font-size: 12px;
    padding: 10px 10px;
  }
  #screen {
    height: 80vh;
  }
  #bottomBar,
  #topBar {
    height: 10vh;
  }
  .dropdown-content {
    top: 10vh;
  }
  * {
    scrollbar-width: auto;
  }
  ::-webkit-scrollbar {
    display: block;
  }
}

.binaryInputContainer > div,
.binaryOutputContainer > div {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  text-align: center;
}

.iconImage {
  width: 15px;
  height: 15px;
  margin: 0;
}

.iconButton {
  width: 20%;
  height: 100%;
}

#sidebar {
  height: 80%; /* 100% Full-height */
  width: 250px;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 10%;
  left: 10px;
  background-color: rgb(109, 76, 76); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */

  border-radius: 20px;
  padding: 10px;
  color: white;
  font-family: 'Courier New', Courier, monospace;

  transition: opacity 0.5s;
}

#toolbar > .tool {
  margin: 5px;
  background-color: rgb(84, 56, 56);
  padding: 5px;
  border-radius: 10px;
}

.toolActionsContainer {
  display: flex;
  justify-content: left;
}

.toolActionsContainer button {
  margin: 2px;
  width: 50%;
  background-color: rgb(109, 76, 76);
  border-radius: 10px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  border: none;
}

.toolActionsContainer button:hover {
  background-color: rgb(84, 56, 56);
}

#sidebarMenuBtn {
  width: 100%;
  margin-bottom: 10px;
  background-color: rgb(84, 56, 56);
  border: none;
  color: white;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  border-radius: 10px;
}

#sidebarMenuBtn:hover {
  text-decoration: underline;
}

#alertBoxInput {
  width: 80%;
  padding: 5px;
  font-size: small;
  text-align: left;
  margin: auto;
}

.localStorageSave td {
  padding: 5px;
  border: 1px solid black;
}
.localStorageSave tr:nth-of-type(odd) {
  background-color: rgb(115, 71, 71);
}
.localStorageSave button {
  text-align: left;
}
table#localstorageSavesContainer {
  border-collapse: collapse;
  width: 100%;
}
.commentResizeHandle {
  cursor: nwse-resize;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* CREATOR ONLY */
#main {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  flex: 1;
}
.subpart {
  margin: 20px;
  border-radius: 20px;
}
#codespace{
  resize: none;
  width: 90%;
  height: 80%;
  margin: 10px;
  background-color: rgb(32, 30, 30);
  color: white;
  font-size: larger;
  border-radius: 20px;
  border: none;
  padding: 10px;
}
#codeBar{
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  border-radius: 20px;
  height: 40px;
  width: 90%;
  margin: auto;
  overflow: hidden;
}
#codeBar button,
#codeBar select{
  background-color: rgb(32, 30, 30);
  border: none;
  color: white;
  padding: 0 20px 0 20px;
}
#codeBar button:hover,
#codeBar select:hover{
  background-color: rgb(50, 46, 46);
}
#inputDialog,
#alertBox{  /* #alertBox is from index.html, the main app, but I like the looks so I'm reusing it*/
  width: 50vh;
  height: 30vh;
}
/* END CREATOR ONLY */
